src/Router/schema.xml

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

    <start>
        <ref name="router" />
    </start>

    <define name="anyElement">
        <interleave>
            <text />
            <zeroOrMore>
                <ref name="path" />
            </zeroOrMore>
            <zeroOrMore>
                <ref name="switch" />
            </zeroOrMore>
            <zeroOrMore>
                <ref name="test" />
            </zeroOrMore>
            <zeroOrMore>
                <ref name="call" />
            </zeroOrMore>
            <zeroOrMore>
                <ref name="return" />
            </zeroOrMore>
            <zeroOrMore>
                <ref name="ref" />
            </zeroOrMore>
            <zeroOrMore>
                <ref name="router" />
            </zeroOrMore>
            <zeroOrMore>
                <ref name="assignment" />
            </zeroOrMore>
        </interleave>
    </define>

    <define name="router">
        <element name="router">
            <optional>
                <attribute name="xml:base">
                    <data type="string" />
                </attribute>
            </optional>
            <optional>
                <attribute name="baseUrl">
                    <data type="string" />
                </attribute>
            </optional>
            <interleave>
                <zeroOrMore>
                    <ref name="router" />
                </zeroOrMore>
                <zeroOrMore>
                    <ref name="block" />
                </zeroOrMore>
                <zeroOrMore>
                    <ref name="path" />
                </zeroOrMore>
                <zeroOrMore>
                    <ref name="switch" />
                </zeroOrMore>
                <zeroOrMore>
                    <ref name="test" />
                </zeroOrMore>
                <zeroOrMore>
                    <ref name="call" />
                </zeroOrMore>
                <zeroOrMore>
                    <ref name="return" />
                </zeroOrMore>
                <zeroOrMore>
                    <ref name="ref" />
                </zeroOrMore>
                <zeroOrMore>
                    <ref name="assignment" />
                </zeroOrMore>
            </interleave>
        </element>
    </define>

    <define name="ref">
        <element name="ref">
            <attribute name="name" />
        </element>
    </define>

    <define name="assignment">
        <element name="set">
            <oneOrMore>
                <attribute>
                    <anyName />
                </attribute>
            </oneOrMore>
        </element>
    </define>

    <define name="block">
        <element name="block">
            <attribute name="name" />
            <ref name="anyElement" />
        </element>
    </define>

    <define name="path">
        <element name="path">
            <zeroOrMore>
                <attribute>
                    <anyName>
                        <except>
                            <name>pattern</name>
                            <name>id</name>
                        </except>
                    </anyName>
                </attribute>
            </zeroOrMore>
            <optional>
                <attribute name="pattern">
                    <data type="string">
                        <param name="minLength">0</param>
                    </data>
                </attribute>
            </optional>
            <optional>
                <attribute name="id">
                    <data type="string">
                        <param name="pattern">[a-zA-Z_][a-zA-Z0-9_]*</param>
                    </data>
                </attribute>
            </optional>
            <ref name="anyElement" />
        </element>
    </define>

    <define name="call">
        <element name="call">
            <optional>
                <attribute name="function" />
            </optional>
            <zeroOrMore>
                <ref name="argument" />
            </zeroOrMore>
        </element>
    </define>

    <define name="switch">
        <element name="switch">
            <choice>
                <element name="value">
                    <data type="string" />
                </element>
                <element name="value">
                    <ref name="call" />
                </element>
            </choice>
            <zeroOrMore>
                <ref name="case" />
            </zeroOrMore>
            <optional>
                <ref name="default" />
            </optional>
        </element>
    </define>

    <define name="case">
        <element name="case">
            <attribute name="value" />
            <ref name="anyElement" />
        </element>
    </define>

    <define name="default">
        <element name="default">
            <ref name="anyElement" />
        </element>
    </define>

    <define name="test">
        <element name="test">
            <attribute name="subject" />
            <attribute name="pattern" />
            <ref name="anyElement" />
        </element>
    </define>

    <define name="return">
        <element name="return">
            <zeroOrMore>
                <attribute>
                    <anyName />
                </attribute>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="argument" />
            </zeroOrMore>
        </element>
    </define>

    <define name="argument">
        <element name="arg">
            <attribute name="value" />
        </element>
    </define>

</grammar>
